<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a class="active" style="text-decoration: none" href="/">Home</a>

    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">SteamID</th>
                <th scope="col">Role</th>
                <th scope="col">Trade URL</th>
                <th scope="col">Wallet</th>
                <th scope="col">Opened</th>
                <th scope="col">Upgraded</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% userlist.forEach(function(user, i){ %>
                <tr>
                    <th scope="row">
                        <%=user.id%>
                    </th>
                    <td>
                        <%= user.SteamID %>
                    </td>
                    <td>
                        <%= user.GroupID %>
                    </td>
                    <td>
                        <%= user.TradeURL %>
                    </td>
                    <td>
                        <%= user.Wallet %>
                    </td>
                    <td>
                        <%= user.CountOpen %>
                    </td>
                    <td>
                        <%= user.CountUpgrade %>
                    </td>
                    <td>
                        <form action="/delete-user/<%=user.id%>" method="post"><button
                                class="btn btn-danger">Delete</button></form>
                        <form action="/update-user-tradeurl/<%= user.id %>" method="post">
                            <input type="text" name="TradeURL" placeholder="TradeURL" value="">
                            <button class="btn btn-danger">Update</button>
                        </form>
                        <form action="/update-user-wallet/<%= user.id %>" method="post">
                            <input type="number" step="0.01" name="Wallet" value=0>
                            <button class="btn btn-danger">Update</button>
                        </form>

                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>